@import url(/styles/fonts.css);

* {
    margin: 0;
    padding: 0;
}

.section {
    display: flex;  
    width: 1234px;
    margin: auto;
}

.section__title {
    margin: auto;
    align-self: center;
    text-align: center;
    font-family: 'Brown';
    color: #32325d;
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 29px;
    margin-left: 109px;
    transform: scale(0.95, 1);
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 138px;
}

.header__bg {
    background-image: url(/img/header-bg.png);
    position: absolute;
    width: 100%;
    height: 1377px;
    top: -150px;
    left: 4px;
    z-index: -1;
}

.header__nav {    
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-start;
    margin-top: 46px;
    font-family: 'Brown';
    font-size: 20px;
    margin-bottom: 263px;
}

.header__nav img {
    margin-right: 474px;
    margin-top: 4px;
}

.header__nav li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 19px 14px 19px;
    line-height: 16px;
}

.header__nav li:hover {
    border: 1px solid #845cff;
    background-color: #845cff;
    box-shadow: -6px 6px 30px rgba(132, 92, 255, 0.5);
}

.header__nav li:hover a {
    color: #ffffff;
}

.header__nav li:last-child {
    margin-right: 0;
}

.header__nav a {
    color: #32325d;
    text-decoration: none;   
}

.header__text-post {
    display: flex;
    flex-direction: column;
    font-family: 'Brown';
}

.header__text-post h3 {
    font-weight: 900;
    font-size: 49px;
    margin-left: -11px;
    width: 50%;
    line-height: 62px;
    margin-bottom: 45px;
    color: #32325d;
    transform: scale(0.97, 1);
}

.header__text-post p {
    font-size: 22px;
    font-weight: 300;
    width: 460px;
    line-height: 32px;
    color: #525f7f;
    margin-bottom: 40px;
    transform: scale(1.04, 1);
    margin-left: 9px;
}

.section__btn {
    display: flex;
    align-items: center;
}

.section__btn button {
    font-family: 'Brown';
    /* padding: 10px 22px 10px 22px; */
    height: 42px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #32325d;
    
}

.section__btn button:first-child {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 8px;
}

.section__btn button:nth-child(2) {
    font-size: 18px;
    height: 42px;
}

.section__btn button:hover {
    background-color: #845cff;
    border: 1px solid #845cff;
    cursor: pointer;
    color: #ffffff;
    box-shadow: -6px 6px 30px rgba(132, 92, 255, 0.5);
}

.about-us {
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
    /* position: relative; */
    /* top: -354px; */
    flex-wrap: wrap;
    margin-bottom: 190px;
}

.about-us__title-text {
    font-family: 'Brown', sans-serif;
    width: 530px;
    margin-top: 207px;
    margin-right: 142px;
    /* background-color: red; */
    margin-bottom: 77px;
}

.about-us__title-text h3 {
    font-family: 'Brown';
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 32px;
    color: #32325d;
    margin-left: -2px;
    /* transform: scale(1.04, 1);     */
    line-height: 62px;
}

.about-us__title-text p {
    font-family: 'Brown';
    font-size: 23px;
    font-weight: 300;
    color: #525f7f;
    width: 560px;
    transform: scale(0.95, 1);
    margin-left: -14px;
}

.about-us__feature {
    background-color: #ffffff;
    border-radius: 10px;
    width: 470px;
    height: 415px;
    /* border: 1px solid #ffffff; */
    padding: 63px 29px 00px 61px;
    box-shadow: -1px 4px 20px rgba(132, 92, 255, 0.1);   
}

.about-us__feature img {
    margin-bottom: 38px;
}

.about-us__feature h4 {
    font-family: 'Brown', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #212240;
    margin-left: -2px;
    /* transform: scale(0.93, 1); */
}

.about-us__feature p {
    font-family: 'Brown', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #525f7f;
    width: 480px;
    margin-left: -14px;
    transform: scale(0.94, 1);
}

.about-us__feature:nth-child(3) {
    margin-right: 110px;
}

.about-us__feature:nth-child(3) img {
    padding-left: 24px;
}

.about-us__feature:nth-child(4) img {
    padding-left: 24px;
}

.services {
    display: flex;
    width: 1300px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-family: 'Brown', sans-serif;
    margin-bottom: 268px;
}

.services__bg {
    background-image: url(/img/services-bg.png);
    background-size: 2615px;
    position: absolute;
    width: 117%;
    height: 1097px;
    top: 2524px;
    left: -320px;
    z-index: -1;
    overflow: hidden;
}

.services h3 {
    color: #32325d;
    margin: auto;
    align-self: center;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 31px;
    margin-left: 166px;
}

.services p {
    margin: auto;
    align-self: center;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    width: 840px;
    margin-bottom: 30px;
    transform: scale(1.04, 1);
    margin-left: 205px;
    margin-bottom: 144px;
    color: #525f7f;
    line-height: 32px;
}

.services ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 260px;
    height: 300px;
    margin-right: 31px;
    margin-bottom: 85px;
    /* background-color: darkcyan; */
}

.services__list-item img {
    display: flex;
    align-self: center;
    width: 80px;
    height: 80px;

}

.services__list-item h7 {
    font-family: 'Brown', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: #212240;
}

.services__list-item span {
    margin: auto;
    text-align: center;
    margin-top: 2px;
    line-height: 24px;
    color: #525f7f;
    font-weight: 300;
}

.we-do {
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
}

.we-do h6 {
    display: flex;
    font-family: 'Brown';
    color: #32325d;
    font-size: 48px;
    font-weight: 300; 
    width: 480px;
    line-height: 63px;
    margin-bottom: 30px;
    margin-left: -1px;
}

.we-do__text {
    font-family: 'Brown';
    font-size: 24px;
    font-weight: 300;
    width: 530px;
    color: #525f7f;
    margin-bottom: 45px;
}

.we-do__subsection {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-bottom: 53px;
}

.we-do__subsection h7 {
    display: flex;
    font-family: 'Brown';
    color: #32325d;
    font-size: 30px;
    font-weight: 300; 
    margin-bottom: 13px;
}

.we-do__subsection p {
    font-family: 'Brown';
    color: #525f7f;
    font-size: 18px;
    font-weight: 300;
    width: 270px; 
}

.we-do__subsection div:first-child {
    width: 300px;
    margin-right: 73px;
}

.we-do .section__btn {
    margin-bottom: 248px;
}

.we-do__safety-bg {
    background-image: url(/img/our-work-01.png);
    /* background-color: aqua; */
    position: absolute;
    width: 670px;
    height: 483px;
    top: 3805px;
    left: 906px;
    z-index: -1;
}


.we-do__move {
    display: flex;
    justify-content: flex-end;
}

.we-do__move h6 {
    width: 600px;
}

.finances {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 111px;
}

.finances div:nth-child(1) {
    width: 100%;
    margin-bottom: 50px;
}

.finances div:nth-child(1) h3 {
    display: flex;
    margin-left: 0px;
    transform: scale(1,1);
    margin-bottom: 30px;
}

.finances div:nth-child(1) p {
    font-family: 'Brown';
    color: #525f7f;
    font-size: 24px;
    font-weight: 200;
    width: 740px;
    line-height: 32px;
    margin-bottom: 104px;
}

.finances ul {
    list-style: none;
}

.finances h7 {
    display: flex;
    font-family: 'Brown';
    color: #32325d;
    font-size: 30px;
    font-weight: 200; 
    margin-bottom: 43px;

}

.finances li {
    display: flex;
    font-family: 'Brown';
    color: #525f7f;
    font-size: 20px;
    font-weight: 200;
    width: 740px;
    line-height: 32px;
    margin-bottom: 30px;
}

.finances li::before {
    content: '';
    display: flex;
    flex-direction: row;
    background-image: url(/img/our-work-icon-list.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    /* background-color: red; */
    margin-top: 10px;
    margin-right: 18px;
}

.finances div:nth-child(2) {
    /* background-color: red; */
    margin-bottom: 58px;
    width: 100%;
}

.finances div:nth-child(3) {
    /* background-color: blue; */
    margin-bottom: 58px;
    width: 50%;
}

.finances div:nth-child(4) {
    /* background-color: peru; */
    margin-bottom: 58px;
    width: 30%;
    margin-left: 190px;
}

.request {
    background-color: #fafaff;
    /* background-color: red; */
    padding-bottom: 123px;
}

.request h3 {
    margin-left: 0px;
    transform: scale(1, 1);
    margin-top: 156px;
    color: #32325d;
    margin-bottom: 22px;
}

.request span {
    font-family: 'Brown';
    color: #525f7f;
    font-size: 24px;
    font-weight: 200;
}

.request input {
    margin-left: 184px;
    height: 76px;
    width: 556px;
    align-self: center;
    border: 2px solid transparent;
    background-color: red;
    margin-top: 122px;
    border-radius: 4px;
}

footer {
    background-color: #212240;
    color: white;
    font-family: 'Brown';
    /* display: flex; */
    /* justify-content: center; */
    /* margin: auto; */
    /* flex-wrap: wrap; */
}

footer section {
    flex-wrap: wrap;
    padding-top: 150px;
}

footer ul {
    list-style: none;
}

footer div:nth-child(1) {
    /* background-color: red; */
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 280px;
}

footer div:nth-child(1) img {
    background-color: aliceblue;
    width: 153px;
    margin-bottom: 50px;
}

footer div:nth-child(1) span {
    font-size: 18px;
}

footer div:nth-child(1) span:nth-child(4) {
    font-size: 16px;
    margin-top: 44px;
    /* background-color: #ffffff; */
    margin-bottom: 49px;
}

footer div:nth-child(1) ul {
    display: flex;
    flex-direction: row;
}

footer div:nth-child(1) li {
    height: 30px;
    width: 30px;
    background-image: url(/img/soc_icons.png);
    background-repeat: no-repeat;
    margin-right: 14px;
}

footer div:nth-child(1) li:nth-child(2) {
    background-position: -43px 0px;
}

footer div:nth-child(1) li:nth-child(3) {
    background-position: -87px 0px;
}

footer div:nth-child(1) li:nth-child(4) {
    background-position: -130px 0px;
}


footer ul:nth-child(2) {
    /* background-color: blue; */
    /* width: 25%; */
    margin-top: -6px;
    margin-right: 114px;
}

footer li {
    margin-bottom: 28px;
    color: #d3d3d9;
}

footer ul:nth-child(3) {
    /* background-color: pink; */
    margin-top: -6px;
    margin-right: 86px;
    /* width: 25%; */
}

footer ul:nth-child(4) {
    /* background-color: peru; */
    margin-top: -6px;
    margin-bottom: 209px;
    /* width: 25%; */
}

.terms {
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
}

.terms li{
    font-size: 16px;
    margin-right: 34px;
}

.terms li:nth-child(1){
    font-size: 16px;
    margin-right: 741px;
    /* background-color: red; */
}

.terms li:nth-child(4){
    /* font-size: 16px; */
    margin-right: 0px;
    /* background-color: red; */
}
